<legend>Sales orders</legend>
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th><%= SalesOrder.human_attribute_name :customer %></th>
    <th><%= SalesOrder.human_attribute_name :delivery_date %></th>
    <th><%= SalesOrder.human_attribute_name :salesman %></th>
    <th><%= SalesOrder.human_attribute_name :material_type %></th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @sales_orders.each do |sales_order| %>
      <tr>
        <td><%= sales_order.customer.name %></td>
        <td><%= format_date sales_order.delivery_date %></td>
        <td><%= sales_order.salesman.name %></td>
        <td><%= sales_order.material_type.name %></td>
        <td><%= link_to 'Show', sales_order %>,
          <%= link_to 'Edit', edit_sales_order_path(sales_order) %>,
          <%= link_to 'Destroy', sales_order, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br/>

<%= link_to 'New Sales order', new_sales_order_path %>
