<div class="well well-small">
  <d1 class="dl-horizontal">
    <dt><%= SalesOrder.human_attribute_name :customer %></dt>
    <dd><%= @sales_order.customer.name %></dd>

    <dt><%= SalesOrder.human_attribute_name :delivery_date %></dt>
    <dd><%= format_date @sales_order.delivery_date %></dd>

    <dt><%= SalesOrder.human_attribute_name :salesman %></dt>
    <dd><%= @sales_order.salesman.name %></dd>

    <dt><%= SalesOrder.human_attribute_name :material_type %></dt>
    <dd><%= @sales_order.material_type.name %></dd>
  </d1>
</div>

<%= link_to 'Edit', edit_sales_order_path(@sales_order) %> |
<%= link_to 'Back', sales_orders_path %>
